<section>
    <a href="/dashboard" class="justify-content-end">&lAarr; Back to Dashboard</a>
    <h2 class="title">New Blog Post</h2>
    <hr>
    <form class="new-post-form">
        <div>
            <label for="post-title">Post Title</label>
            <input class="input" type="text" id="post-title" name="post-title" placeholder="Insert blog title here"/>
        </div>
        <div>
            <label for="post-content">Post Content</label>
            <input class="floatingTextarea3" type="text" id="post-content" name="post-content" placeholder="Insert blog content here"/>
        </div>

        <button type="submit" class="button btn btn-primary justify-content-end">Create Post</button>
    </form>
</section>

<script src="/public/js/addBlogPost.js"></script>