<!-- displaying articles -->
{{> postInfo post}}

<!-- displaying form and comments-->
<!-- only display if logged in -->
{{#if logged_in}}
<form class="comment-form">
  <div class="form-group">
    <textarea class="ml-5" name="comment-body"></textarea>
  </div>

  <div class="form-group">
    <button class="button btn btn-warning ml-5 mb-5 comment-form" type="submit">Add Comment</button>
  </div>
  
</form>

<script src="/js/comment.js"></script>
{{/if}}